/* src/pages/LandingPage.css */

/* Import the SUSE-Bold font */
@font-face {
    font-family: 'SUSE-Bold';
    src: url('src/assets/static/SUSE-Bold.ttf') format('truetype');
  }
@font-face {
    font-family: 'SUSE-SemiBold';
    src: url('src/assets/static/SUSE-SemiBold.ttf') format('truetype');
  }
  
  .landing-page {
    display: flex;
    flex-direction: column; /* Ensure elements are stacked vertically */
    justify-content: center;
    align-items: center; /* Center elements horizontally */
    height: 100vh; /* Full viewport height */
    width: 100%; /* Ensure the container takes full width */
    text-align: center;
    background-color: #f0f0f0; /* Optional: Add a background color */
    padding-top: 50px; /* Add padding to move the text down from the top */
  }
  
  .landing-page h1 {
    font-family: 'SUSE-Bold', sans-serif; /* Apply SUSE-Bold font */
    font-size: 90px; /* Adjust font size as needed */
    color: black; /* Adjust text color as needed */
    font-weight: bolder;
    display: inline-block; /* Ensure h1 is inline-block for separate animations */
    animation: slideInFromLeft 0.5s ease-out; /* Apply faster slide-in animation */
  }
  
  .gradient-text {
    background: linear-gradient(to right, #ff0000, #ff6666); /* Gradient from red to lighter red */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block; /* Ensure span is inline-block for separate animations */
    animation: slideInFromRight 0.5s ease-out; /* Apply faster slide-in animation */
    padding-left: 2%;
  }
  
  .landing-page p {
    font-family: 'SUSE-SemiBold', sans-serif; /* Apply SUSE-Bold font */
    font-size: 24px; /* Adjust font size as needed */
    color: black; /* Adjust text color as needed */
    margin-top: 4%; /* Add some margin to separate it from the h1 */
    animation: slideInFromRight 0.5s ease-out; /* Apply fade-in animation */
  }
  
  /* Keyframes for slide-in-from-left animation */
  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-20%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  /* Keyframes for slide-in-from-right animation */
  @keyframes slideInFromRight {
    0% {
      transform: translateX(20%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  /* Keyframes for fade-in animation */
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }